; vim: ft=gitconfig sw=2 ts=2 et

[user]
  name = chorn
  email = chorn@chorn.com
  signingKey = chorn
[include]
  path = .gitconfig-public
  path = .gitconfig-alias
[includeIf "gitdir:~/.git-pub-dotfiles"]
  path = .gitconfig-dotfiles
[includeIf "gitdir:~/.git-prv-dotfiles"]
  path = .gitconfig-dotfiles

