; vim: ft=gitconfig sw=2 ts=2 et

[user]
  name = chorn
  email = christopher.horn@tanium.com
  signingKey = chorn
[branch]
  autoSetupRebase = always
[commit]
  gpgsign = true
[core]
  editor = vim
  pager = less -r
  excludesfile = ~/.gitignore
[color]
  ui = auto
[pull]
  rebase = true
[push]
  default = tracking
[mergetool]
  keepBackup = true
	prompt = false
[advice]
  statusHints = false
[diff]
  mnemonicprefix = true
  algorithm = patience
[prompt]
  showinfo = true
[rerere]
  enabled = true
[merge]
  ff = only
[include]
  path = ~/.gitconfig-alias
